.container-wrapper {
  width: 20vw;
}
.miniRank-container {
  border: 2px solid black;
  /* padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 1vh; */
}
h1 {
  text-align: center;
}
.icon {
  border-radius: 50%;
  width: 1vw;
}
.rank-container {
  display: flex;
  flex-direction: row;
  padding: 2% 0;
  border-bottom: 1px solid;
}
.rank-container * {
  font-size: 1vw;
}

.name {
  width: 40%;
}

.rank {
  width: 15%;
}

.points {
  width: 30%;
}
.icon-div {
  width: 15%;
}
