.HomeContainer {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  /* justify-content: space-between; */
  justify-content: center;
  /* align-items: center; */
  padding: 0.5vw;
}

.HomeLeft {
  width: 25%;
}

.HomeMiddle {
  width: 40%;
  display: flex;
  display: table-column;
  align-items: center;

  margin-right: 25%;
}

.HomeRight {
  max-width: 30%;
  /* min-width: 25%; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  position: fixed;
  top: 6rem;
  right: 7%;
  /* position: sticky;
  top: 10px; */
}
.controllerWrapper {
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonWrapper {
  margin: 0.8em 0em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sortButton {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0rem 2rem;
  outline: none;
  padding: 8px 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.sortButton:hover,
.sortButton:active {
  background-color: #b3d3ea;
  color: #2c5777;
}

.sortButton:active {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.sortButton:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

@media screen and (max-width: 960px) {
  .HomeLeft {
    display: none;
  }

  .HomeRight {
    display: none;
  }
  .HomeMiddle {
    width: 100%;
    padding: 2%;
    margin: 2%;
  }
}
