.RankContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.RankRowsContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  padding: 1rem;
  align-items: center;
}

.RankRows {
  border: 1px solid;
  border-radius: 8px;
}
.RankRows:hover {
  cursor: pointer;
}

.Rank-leftside {
  width: 35%;
  margin: 7% 0%;
  font-size: xx-large;
}
.Rank-rightside {
  width: 65%;
}

@media screen and (max-width: 960px) {
  .RankContainer {
    margin: 2% 5%;
  }
  .Rank-leftside {
    display: none;
  }
  .Rank-rightside {
    margin: 2% 5%;
    width: 100%;
  }
}
