.ProfileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.postNavigation{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    
}
.postNavigation * {
    margin-left: 15vh;
    margin-right: 15vh;
    cursor: pointer;
}