body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;

  /* margin-bottom: 0.5rem; */

  /* border-bottom:10px solid linear-gradient(90deg, rgb(136, 171, 218) 0%, rgb(235, 238, 232) 100%); */
  border-bottom: 7px solid rgb(136, 171, 250);
}

.nav-links {
  /* color: #fff; */
  color: #88abda;

  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* height: 100%; */
  margin-right: 30px;
}
.navbar-logo {
  color: #88abda;
  justify-self: center;
  /* margin-left: 20px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.nav-links:hover {
  border-bottom: 4px solid #88abda;
  color: #88abda;
  transition: all 0.2s ease-out;
}


.logo:hover {
  border-bottom: none;
  color: #88abda;
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  /* margin-right: 2rem; */
}

.menu-icon {
  display: none;
}
.fa-bars {
  color: #88abda;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-notification {
  color: #88abda;
}
.nav-notification:hover {
  cursor: pointer;
}
.disabled {
  display: none;
}

/* The followings are used for the mobile version */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    justify-content: start;
    top: 65px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    margin-left: 20px;
    text-align: center;
    width: 80%;
    align-self: center;
    display: table;
  }
  .menu-links {
    padding: 2rem;
  }

  /* .nav-links:hover {
    background-color: #88abda;
    color: #fff;
    border-radius: 10px;
  } */

  .menu-icon {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    transform: translate(-100%, 30%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #88abda;
    font-size: 2rem;
  }
  .greeting {
    display: none;
  }
  .disabled {
    display: block;
  }
}
