.Prophecy {
  margin: 0.5%;
  padding: 1.2%;
  border-style: solid;
  min-height: 35vh;
  width: 40vh;
/* 
  display: flex;
  flex-direction: column; */
  
}

.Prophecy-votes {
  padding: 0.5%;
  margin-bottom: 1%;
  border-style: solid;
  height: 30%;
}
