.Prophecy {
  margin-top: 1%;
  padding: 2%;
  border: solid 1px;
  min-height: 35vh;
  /* 
  display: flex;
  flex-direction: column; */
}

.Prophecy-votes {
  padding: 0.5%;
  margin-bottom: 1%;
  border-style: solid;
  height: 30%;
}

.Prophecy-header {
  display: flex;
  flex-direction: row;
}

.Prophecy-title {
  width: 90%;
}

.Prophecy-author {
  display: flex;
  flex-direction: row;
  color: gray;
  padding-left: 0.5vh;
}

.Prophecy-author-info {
  display: flex;
  flex-direction: row;
  padding-left: 0.3vh;
}

.Prophecy-author-icon {
  border-radius: 50%;
  width: 1.3vh;
  padding-right: 0.3vh;
}

.Prophecy-OpeningTime {
  margin-left: 0.5vh;
}

.Prophecy-CountDown {
  display: flex;
  flex-direction: row;
}

.Prophecy-verify {
  display: flex;
  flex-direction: row;
}
.Prophecy-detail {
  display: flex;
  flex-direction: row;
}

.Prophecy-info {
  width: 60%;
}

.Prophecy-userParticipate {
  color: green;
}
