.Prophecy {
  margin-top: 1%;
  padding: 2%;
  border: solid 1px;
  min-height: 35vh;
  /* 
  display: flex;
  flex-direction: column; */
}

.Prophecy-votes {
  padding: 0.5%;
  margin-bottom: 1%;
  border-style: solid;
  height: 30%;
}

.Prophecy-header {
  display: flex;
  flex-direction: row;
}

.Prophecy-title {
  width: 90%;
}

.Prophecy-detail {
  display: flex;
  flex-direction: row;
}

.Prophecy-info {
  width: 80%;
}
